In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Top Indian Places to Visit.csv")

In [3]:
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [14]:
df = df.drop(columns = ['Best Time to visit','Number of google review in lakhs','DSLR Allowed','Airport with 50km Radius','Weekly Off','Entrance Fee in INR'], axis=1)

KeyError: "['Best Time to visit', 'Number of google review in lakhs', 'DSLR Allowed', 'Airport with 50km Radius', 'Weekly Off', 'Entrance Fee in INR'] not found in axis"

In [9]:
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Significance
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,Historical
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,Historical
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,Religious
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,Environmental
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,Scientific
...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,Religious
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,Historical
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,Cultural
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,Historical
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,Historical