In [2]:
import pandas as pd
df = pd.read_csv("2- the-worlds-number-of-vaccinated-one-year-olds.csv")
display(df)

,Entity,Code,Year,Number of one-year-olds vaccinated with HepB3,"Number of one-year-olds vaccinated with DTP containing vaccine, 3rd dose","Number of one-year-olds vaccinated with polio, 3rd dose",Population - Sex: all - Age: 0 - Variant: estimates,"Number of one-year-olds vaccinated with measles-containing vaccine, 1st dose",Number of one-year-olds vaccinated with Hib3,"Number of one-year-olds vaccinated with rubella-containing vaccine, 1st dose","Number of one-year-olds vaccinated with rotavirus, last dose",Number of one-year-olds vaccinated with BCG
0,Afghanistan,AFG,1980,NaN,19716.0,NaN,553827.0,54220.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1981,NaN,13222.0,13222.0,493818.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1982,NaN,19906.0,19906.0,445673.0,31849.0,NaN,NaN,NaN,39811.0
3,Afghanistan,AFG,1983,NaN,19612.0,19612.0,439692.0,35301.0,NaN,NaN,NaN,39223.0
4,Afghanistan,AFG,1984,NaN,64560.0,64560.0,452788.0,56490.0,NaN,NaN,NaN,44385.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10663,Zimbabwe,ZWE,2017,407106.0,407106.0,407106.0,464521.0,411680.0,407106.0,411680.0,416254.0,434551.0
10664,Zimbabwe,ZWE,2018,407252.0,407252.0,407252.0,466524.0,402677.0,407252.0,402677.0,411828.0,434708.0
10665,Zimbabwe,ZWE,2019,413773.0,413773.0,413773.0,468844.0,390786.0,413773.0,390786.0,422968.0,436761.0
10666,Zimbabwe,ZWE,2020,397858.0,397858.0,397858.0,470340.0,393231.0,397858.0,393231.0,407110.0,407110.0
10667,Zimbabwe,ZWE,2021,399964.0,399964.0,399964.0,472443.0,395314.0,399964.0,395314.0,409266.0,409266.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 12 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Entity                                                                        10668 non-null  object
 1   Code                                                                          9954 non-null   object
 2   Year                                                                          10668 non-null  int64
 3   Number of one-year-olds vaccinated with HepB3                                 4214 non-null   float64
 4   Number of one-year-olds vaccinated with DTP containing vaccine, 3rd dose      7602 non-null   float64
 5   Number of one-year-olds vaccinated with polio, 3rd dose                       7603 non-null   float64
 6   Population - Sex: all - Age: 0 - Variant: estimates                           10668 non-null  float64
 7   Number of one-year-olds vaccinated with measles-containing vaccine, 1st dose  7476 non-null   float64
 8   Number of one-year-olds vaccinated with Hib3                                  3437 non-null   float64
 9   Number of one-year-olds vaccinated with rubella-containing vaccine, 1st dose  3946 non-null   float64
 10  Number of one-year-olds vaccinated with rotavirus, last dose                  943 non-null    float64
 11  Number of one-year-olds vaccinated with BCG                                   6245 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1000.3+ KB

In [14]:
populacao=df["Population - Sex: all - Age: 0 - Variant: estimates"].dropna()
display(populacao)

0        553827.0
1        493818.0
2        445673.0
3        439692.0
4        452788.0
           ...
10663    464521.0
10664    466524.0
10665    468844.0
10666    470340.0
10667    472443.0
Name: Population - Sex: all - Age: 0 - Variant: estimates, Length: 10668, dtype: float64

In [32]:
formatado = pd.set_option('display.float_format', lambda x: '%.3f' % x)
populacao.describe()

count       10668.000
mean      3486283.571
std      15577410.538
min            25.000
25%          7323.500
50%         97100.500
75%        565935.000
max     139783730.000
Name: Population - Sex: all - Age: 0 - Variant: estimates, dtype: float64

In [30]:
limpodf.dropna()

NameError: name 'formatado' is not defined